.item {
  border: 2px solid #000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 0 30px;
  align-items: center;
}

.item_is-liked {
  background: #D8FFD3;
}

.item:last-of-type {
  margin: 0;
}

.joke {
  font-family: Arial, Helvetica, sans-serif;
}
.like {
  cursor: pointer;
  width: 25px;
  height: 35px;
  border: none;
  background: center / contain url('../../images/thumbs_up_icon.svg') no-repeat;
  transition: transform 0.3s ease-in-out;
}

.like:hover {
  transform: scale(1.1, 1.1);
}

.like_is-liked {
  background: center / contain url('../../images/thumbs_up_icon-liked.svg') no-repeat;
}